{% extends 'Transport/base.html' %}

{% block content1%}<title>About Us</title>{% endblock %}

{% block change %}
<div class="col-sm-12 col-md-6">
    <div class="panel panel-default" style="position:fixed;left:29%;top:9%;width:57%; height: 10%;background-color:#F73B46;" >
        <div class="panel-body" style="width:221%;top:110px;height:436px;left:34%;position:static;">
            <h3 style="position: fixed; left: 31%; top:8%;"><b>A.C.Sreedhar Reddy : </b><i> Website-design, Project-design</i><br><br></h3>
        </div>
    </div>
    <div class="panel panel-default" style="position:fixed;left:29%;top:19%;width:57%; height: 10%;background-color:#F73B90;" >
        <div class="panel-body" style="width:221%;top:110px;height:436px;left:34%;position:static;">
            <h3 style="position: fixed; left: 31%; top:18%;"><b>B.Vamshi : </b><i> Code-testing, Hardware-helper</i><br><br></h3>
        </div>
    </div>
    <div class="panel panel-default" style="position:fixed;left:29%;top:29%;width:57%; height: 10%;background-color:#F73BDD;" >
        <div class="panel-body" style="width:221%;top:110px;height:436px;left:34%;position:static;">
            <h3 style="position: fixed; left: 31%; top:28%;"><b>D.Maniteja : </b><i>Hardware-testing, Circuit-design</i><br><br></h3>
        </div>
    </div>
    <div class="panel panel-default" style="position:fixed;left:29%;top:39%;width:57%; height: 10%;background-color:#BE3BF7;" >
        <div class="panel-body" style="width:221%;top:110px;height:436px;left:34%;position:static;">
            <h3 style="position: fixed; left: 31%; top:38%;"><b>K.Jagadeesh :</b><i> Circuit-testing, Hardware-testing</i><br><br></h3>
        </div>
    </div>
    <div class="panel panel-default" style="position:fixed;left:29%;top:49%;width:57%; height: 10%;background-color:#493BF7;" >
        <div class="panel-body" style="width:221%;top:110px;height:436px;left:34%;position:static;">
            <h3 style="position: fixed; left: 31%; top:48%;"><b>K.Sai Krishna Maurya : </b><i> Android-deveoper, Cloud Management </i><br><br></h3>
        </div>
    </div>
    <div class="panel panel-default" style="position:fixed;left:29%;top:59%;width:57%; height: 10%;background-color:#3BC7F7;" >
        <div class="panel-body" style="width:221%;top:110px;height:436px;left:34%;position:static;">
            <h3 style="position: fixed; left: 31%; top:58%;"><b>P.Vamsi Krishna : </b><i> Android-design, Hardware-testing</i><br><br></h3>
        </div>
    </div>
    <div class="panel panel-default" style="position:fixed;left:29%;top:69%;width:57%; height: 10%;background-color:#28EE3D;" >
        <div class="panel-body" style="width:221%;top:110px;height:436px;left:34%;position:static;">
            <h3 style="position: fixed; left: 31%; top:68%;"><b>B.Chiranjith : </b><i> Android-design, Hardware-integration</i><br><br></h3>
        </div>
    </div>
    <div class="panel panel-default" style="position:fixed;left:29%;top:79%;width:57%; height: 10%;background-color:#E2EF12;" >
        <div class="panel-body" style="width:221%;top:110px;height:436px;left:34%;position:static;">
            <h3 style="position: fixed; left: 31%; top:78%;"><b>D.Srikanth : </b><i> Hardware & Software integration</i><br><br></h3>
        </div>
    </div>
    <div class="panel panel-default" style="position:fixed;left:29%;top:89%;width:57%; height: 10%;background-color:#FF836A;" >
        <div class="panel-body" style="width:221%;top:110px;height:436px;left:34%;position:static;">
            <h3 style="position: fixed; left: 31%; top:88%;"><b>M.Krishna Chait<u>h</u>anya : </b><i>Backend-developer & Cloud management</i><br><br></h3>
        </div>
    </div>
</div>

{% endblock %}